<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <meta charset="UTF-8">
    <style>
        #login_form {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);}
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">MyWebApp</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#" th:href="@{/}" class="active">Signin</a> </li>
                <li ><a href="#" th:href="@{/signup}">Signup</a> </li>
            </ul>
        </div>
    </div>
</nav>
<div id="login_form">
    <div>
        <form role="form" class="form" th:action="@{/login}" method="post">
            <div class="form-group">
                <label>
                    <input class="form-control" placeholder="Login" type="text" name="username"/>
                </label>
            </div>
            <div class="form-group">
                <label>
                    <input class="form-control" placeholder="Password" type="password" name="password"/>
                </label>
            </div>
            <input class="btn btn-primary" type="submit" value="Sign In"/>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
